* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #f9bc60;
    --secondary-color: #abd1c6;
    --dark-color: #001e1d;
    --headline-color: #fffffe;
    --link-color: #fef2df;
    --background-color: #004643;
    --tertiary-color: #e16162;
}

body {
    font-family: 'fredoka', 'poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Navbar */
.navbar {
    background-color: var(--dark-color);
    padding: 24px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
    
}

.navbar ul li a {
    padding: 8px 16px;
    display: block;
    font-weight: 400;
    transition: 0.4s;
    font-size: 1.2rem;
}

.navbar ul li a:hover {
    color: var(--primary-color);
    transition: 0.8s;
}

.navbar ul li a i {
    margin-right: 8px;
}

.navbar ul li:last-child a {
    margin-left: 16px;
}

.navbar ul li:last-child a:hover {
    background: var(--primary-color);
    color: var(--dark-color);
    transition: 0.8s;
}

.logo-img {
    width: 16rem;
    max-width: 100%;
    height: auto;
}
/* Utility Classes */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 16px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 16px;
}

/* Hero Section */
.container-hero {
    margin-top: -24px;
    height: 100%;
    position: relative;
}

.hero {
    height: 80vh;
    background: var(--dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 42px;
    gap: 24px;
}

.tags {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.tag-line {
    color: var(--headline-color);
    font-size: 2.5rem;
    font-weight: 600;
}

.tag-description {
    color: var(--link-color);
    font-size: 1.2rem;
    font-weight: 300;
}



.btn-primary-hero {
    border: none;
    padding: 8px 24px;
    border-radius: 8px;
    background: var(--primary-color);
    color: var(--dark-color);
    font-weight: 600;
}



/* Buttons */
.btn {
    display: inline-block;
    padding: 8px 16px;
    background: var(--dark-color);
    color: var(--link-color);
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s;
}

.btn:hover {
    background: var(--primary-color);
    color: var(--dark-color);
    transition: 0.8s;
}

.btn-primary {
    background: var(--primary-color);
    color: var(--dark-color);
}

.btn-light {
    background: var(--tertiary-color);
    color: var(--link-color);
}

.btn-block {
    display: block;
    width: 100%;
}

/*Text Classes*/
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}