* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #f9bc60;
    --secondary-color: #abd1c6;
    --dark-color: #001e1d;
    --headline-color: #fffffe;
    --link-color: #fef2df;
    --background-color: #004643;
    --tertiary-color: #e16162;
}

body {
    font-family: 'fredoka', 'poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: var(--background-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Navbar */
.navbar {
    background-color: var(--background-color);
    padding: 24px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
    
}

.navbar ul li a {
    padding: 8px 16px;
    display: block;
    font-weight: 400;
    transition: 0.4s;
    font-size: 1.2rem;
}

.navbar ul li a:hover {
    color: var(--primary-color);
    transition: 0.8s;
}

.navbar ul li a i {
    margin-right: 8px;
}

.navbar ul li:last-child a {
    margin-left: 16px;
}

.navbar ul li:last-child a:hover {
    background: var(--tertiary-color);
    color: var(--dark-color);
    transition: 0.8s;
}

.logo-img {
    width: 10rem;
    max-width: 100%;
    height: auto;
}

/*Hero */
.hero {
    margin: 0 24px;
    margin-bottom: 48px;
}

.hero .container {
    background: url('/ProjectWork/images/heroimagelarge.png') no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 650px;
}

.hero .hero-content {
    width: 100%;
    color: var(--headline-color);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero .hero-text {
    width: 100%;
    margin-bottom: 32px;
    color:var(--link-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*Recipe Video Section */
.video {
    padding: 8px 0 40px;
}

.video .video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video .video-preview {
    margin-bottom: 24px;
}

/*Services */
.services {
    padding: 40px 0;
}

.services .services-heading {
    width: 700px;
    margin-bottom: 40px;
}

.services .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.services .card p:nth-child(1) {
    margin-bottom: 8px;
    font-weight: 600;
}

.services .card p:nth-child(2) {
    margin-bottom: 24px;
}

/*Zoom Classes*/
.zoom-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 48px;
    gap: 24px;
}

.zoom .zoom-card-subheading {
    margin-bottom: 24px;
}
.zoom .zoom-card-price {
    margin-bottom: 32px;
    padding: 24px 0;
    border-bottom: 1px solid #fffffe;
}

.zoom ul {
    margin: 24px 0;
}

.zoom ul li {
    margin-bottom: 16px;
}

.zoom ul li i {
    margin-right: 8px;
}

.zoom .zoom-footer {
    margin: 32px 0;
}

/*Footer */
.footer {
    padding: 32px 0;
}

.footer h4 {
    margin-bottom: 16px;
    font-weight:500
}

.footer ul li {
    line-height: 2.4;
}

.footer ul li a {
    color: var(--link-color);
    transition: 0.4s;
}

.footer i {
    font-size: 1.6rem;
    margin-right: 16px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.footer .card {
    margin: 8px 16px 16px 0;
}

.footer input[type='email'] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 16px 0;
}

/* Utility Classes */
.container {
    max-width: 1170px; 
    margin: 0 auto;
    padding: 0 24px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 16px;
}

/*Card */
.card {
    background: var(--headline-color);
    color: #000;
    border-radius: 8px;
    padding: 16px;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 8px 16px;
    background: var(--dark-color);
    color: var(--link-color);
    font-weight: 400;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: 0.4s;
}

.btn:hover {
    background: var(--tertiary-color);
    color: var(--dark-color);
    transition: 0.8s;
}

.btn-primary {
    background: var(--primary-color);
    color: var(--dark-color);
}

.btn-light {
    background: var(--secondary-color);
    color: var(--dark-color);
}

.btn-block {
    display: block;
    width: 100%;
}

/*Text Classes*/
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}

/*Background */
.bg-primary {
    background: var(--background-color);
    color:#fffffe;
}

.bg-light {
    background: var(--secondary-color);
    color: #001e1d;
}

.bg-dark {
    background: var(--dark-color);
    color:#fffffe
}

/*Hamburger Button */
.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    z-index: 1000;
}

.hamburger-button .hamburger-line {
    width: 32px;
    height: 4px;
    background: var(--headline-color);
    margin: 4px 0;
}

/*Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 240px;
    height: 100%;
    z-index: 100;
    background: var(--background-color);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    transition: right 0.2s ease-in-out;
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu ul {
    margin-top: 100px;
    padding-right: 8px;
}

.mobile-menu ul li {
    margin: 8px 0;
}

.mobile-menu ul li a {
    font-size: 20px;
    transition: 0.2s;
}

/*Media Queries */
@media (max-width: 960px) {
    .text-xxl {
        font-size: 2.5rem;
    }
    
}

@media (max-width: 670px) {
    .navbar .main-menu {
        display: none;
    }

    .navbar .hamburger-button {
        display: block;
    }

    .hero .container {
        background: url('../images/raspberryfox.png') no-repeat;
        background-size: 300px 400px;
        background-position: center bottom;
        height: 700px;
    }

    .hero .hero-content {
        width: 100%;
        text-align: center;
    }

    .hero .hero-buttons .btn {
        margin-bottom: 8px;
        display: block;
        width: 100%;
    }

    /*Services */
    .services .services-heading {
        width: 100%;
        text-align: center;
    }

    .services .services-grid, .zoom .zoom-grid, .footer .footer-grid {
        grid-template-columns: 1fr;
    }

    .footer .card {
        margin-right: 0;
    }

    .footer .footer-grid > div {
        text-align: center;
    }

    /*Text */
    .text-xl {
        font-size: 1.9rem;
    }

    .text-lg {
        font-size: 1.5rem;
    }

    .text-md {
        font-size: 1.1rem;
    }
}

@media (max-width: 500px) {
    .text-xxl {
        font-size: 2rem;
    }
}